# ==========================================
# 🔐 VARIABLES DE ENTORNO — STORE SUMI BACKEND
# Copia este archivo como .env y cambia los valores
# ==========================================

# PostgreSQL
POSTGRES_USER=usuario
POSTGRES_PASSWORD=usuario1234
POSTGRES_DB=bd_flask

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Flask / JWT
DATABASE_URL=postgresql://usuario:usuario1234@db:5432/bd_flask
JWT_SECRET_KEY=cambia-esto-en-produccion
