# Entornos virtuales (Tu carpeta local de dependencias)
myEnv/
env/
venv/
ENV/

# Archivos temporales y caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Variables de entorno y configuraciones secretas
.env
.flaskenv

# Archivos de configuración locales del editor o sistema
.vscode/
.DS_Store
*.db